doctype
html
  head
    meta(name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0, minimal-ui")
    title= title + " - Node.js Demo"

    link(rel='stylesheet', href='/css/address.css')
    script(src='https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js')
    script(src='https://cdn.bootcss.com/vue/2.2.6/vue.min.js')
    block head
body
    block content